
<div class="red">
    <h1>Hello</h1> 
    <h2>Hello</h2> 
    <h6>Hello</h6> 
    
    <p>Paragraph </p>
    
    <ul type="circle">
        <li>List item 1</li>
        <li>List item 2</li>
    </ul>
    
    <ol type="A" start="C" reversed>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
    </ol>
</div>

<div> </div>

<form >
    <label for="uname">Name</label>
    <input type="text" required id="uname" placeholder="Enter your name" maxlength="5">

    <input type="number" max="5" min="1">


    <input type="file">

    <input type="checkbox"name="c1" id="d1"><label for="d1">BCA </label>
    <input type="checkbox"name="c1" checked>BCS

    <hr>

    <input type="radio" name="r1" id="r1"><label for="r1">BCA </label>
    <input type="radio" name="r2"  id="r2"><label for="r2">BNCS </label>

    <button>REGISTER</button>

    <input type="reset" value="REG">
    <input type="submit" value="REG">

    <select name="">
        <option value="">Item 1</option>
        <option value="">Item 2</option>
        <option value="">Item 3</option>
    </select>

</form>


