<h1>Hello Angular </h1>

<app-education-1></app-education-1>
<app-education-1></app-education-1>

<pre>
  Project 
  |
  |-Module
      |
      |-Component 
      |-mycomponent   
            ng generate component eduction
                                    |
                                    |-eduction.component.css
                                    |-eduction.component.html
                                    |-eduction.component.ts 
                                    |-eduction.component.spec.ts 
</pre>