div p {
    background-color: greenyellow;
}

div>p {
    background-color: red;
}

input[disabled] {
    background-color: yellow;
}

img {
    display: none;
}

img[alt] {
    display: block;
}


/* p[lang] {
            background-color: gold;
        } */

p[lang|="urdu"] {
    background-color: gold;
}

img[src|="myphoto.png"] {
    border: 5px solid #000;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

a[href$=".pdf"] {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

a[href^="https:"],
a[href^="www:"] {
    background-color: green;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

input[disabled] {
    background: white;
    border: 1px gray solid;
    color: gray;
}


/** Day-83  */


/*  select those elements where class name has a word "heading" */

h1[class*="heading"] {
    background-color: red;
}

[data-myattr*="for"] {
    background-color: yellow;
}


/* [data-myattr~="for"] {
    background-color: red;
} */

table {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 100px;
}

td,
th {
    border: 1px solid gray;
}

tr:first-child {
    background-color: gold;
}

.border-box {
    border: 1px solid gray;
    padding: 20px;
}

p:first-child {
    margin-bottom: 0px;
}

p:last-child {
    margin-bottom: 0px;
}