.page-container {
    background-color: teal;
    color: white;
    font-size: 40px;
    padding: 60px;
}

.desktop-image {
    width: 100%;
    display: block;
}

.mobile-image {
    width: 100%;
    display: none;
}

@media screen and (max-width: 1024px) {
    .mobile-image {
        display: block;
    }
    .desktop-image {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .page-container {
        font-size: 20px;
        padding: 20px;
        background-color: yellowgreen;
    }
    .mobile-image {
        border: 10px solid red;
    }
}