<div class="container-fluid p-5 position-relative">

    <div class="row">
        <div class="col-8">
            <div class="card" style="width: 100%;" *ngFor="let item of chat_messages">
                <div class="card-body">
                    <span> {{ item.name }} : {{ item.message }}  </span>
                    <a class="mark-text" href="javascript:void(0)" (click)="addToImportantChat(item)">Mark</a>
                </div>
            </div>

            <div class="new_message-box mt-4 mb-2">
                <div class="mb-3">
                    <label for="">user: </label>
                    <br>
                    <input type="text" name="username" [(ngModel)]='user_name'>
                </div>

                <label for="message">Message: </label>
                <textarea rows="2" class="w-100" id="message" [(ngModel)]="myMessage"> </textarea>

                <button class="btn btn-primary" (click)="sendMessage()">SEND</button>

            </div>

        </div>

        <div class="col-4">
            <p *ngFor="let item of pinned_chat_list">
                {{item.name}}: {{item.message }}
            </p>
        </div>

    </div>

    <!-- Directive ngFor -->



</div>