* {
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    background: #fefefe;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.5);
    position: fixed;
    /* width: 100%; */
    top: 0px;
    left: 0;
    z-index: 10;
    width: 180px;
    height: 100%;
    flex-direction: column;
}

.menu-item {
    display: inline-block;
    width: 145px;
    color: #fff;
    padding: 10px 20px;
    background: #8BC34A;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    /* margin: 0px 5px; */
    border-radius: 0px 0px 15px;
    margin: 10px 5px;
    transition-property: all;
    transition-duration: 1s;
}

.menu-item:hover {
    width: 175px;
    background-color: gold;
    color: #000;
}

.page-container {
    padding: 0px 0px 0px 200px;
}

.content {
    display: flex;
    margin: 60px auto;
}

.link {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
}

.box {
    width: 200px;
    height: 200px;
    background-color: yellow;
    padding: 10px;
    border: 1px solid #000;
    margin: 40px auto;
}

.box-item {
    background-color: #c5c5c5;
    padding: 40px;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    margin: 0px 10px;
    position: relative;
}

.bg-gold {
    background-color: gold;
    color: #000;
}

.bg-white {
    background-color: white;
    color: #000;
}

.bg-image-content {
    height: 400px;
    background: url('assets/assorted-spices.jpg') no-repeat fixed 0px 0px/cover;
    margin: 100px auto;
}

.trangle {
    height: 0px;
    width: 0px;
    border-style: solid;
    border-width: 40px 40px 0px;
    border-color: #000 transparent;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -40px;
}

.btn {
    height: 40px;
    background-color: #2196F3;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    position: fixed;
    left: 10px;
    border: 0px;
    z-index: 15;
    bottom: 20px;
}

.container {
    width: 80%;
    padding: 10px;
    /* border: 1px solid #000; */
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.graphics-holder {
    position: relative;
    width: 180px;
    flex-shrink: 0;
    align-self: center;
}

.circle {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    color: #fff;
    background: #008080;
}

.pointer-arrow {
    border-style: solid;
    border-width: 40px 0px 40px 100px;
    border-color: transparent #5ee01b;
    position: absolute;
    top: 10px;
    right: 0px;
}

.data-container {
    border: 2px solid #808080;
    padding: 30px 10px;
    flex-grow: 1;
    position: relative;
}

.contact-from {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}

.form-btn {
    background-color: #3F51B5;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -15px;
    width: 110px;
    height: 30px;
    border-radius: 10px;
}

.btn:hover {
    color: #000;
}