<div class="container">
    <div class="header">
        <app-header></app-header>
    </div>


    <!-- two way binding ngModel -->
    <!-- Event Binding  -->
    <div *ngIf="isShow">
        Filter: <input type="text" name="filter" [(ngModel)]="filter_string" (keyup)="updateStudntList($event)">
        <hr>
        <app-child [data_list]=table_data></app-child>
        <hr>
    </div>

    <div class="contaienr-fluid" style="min-height: 300px; ">
        <router-outlet></router-outlet>
    </div>



    <div class="footer bg-secondary">
        <app-footer-part> </app-footer-part>
    </div>

</div>