.page-container {
    background-color: teal;
    color: white;
    font-size: 40px;
    padding: 60px;
}

.desktop-image {
    width: 100%;
    display: block;
}

.mobile-image {
    width: 100%;
    display: none;
}

.pannel {
    text-align: center;
    background-color: rgb(247 245 245);
    margin: 0px 0px;
    padding: 100px 0px;
}

.thumbnail {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url("../../media/pic-1.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    vertical-align: middle;
}

.description {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: left;
}

.bg-yellow-light {
    background-color: #faf3b5;
}

.pannel-3 .description {
    width: 50%;
}

.orientation-message {
    display: none;
}

.content {
    display: none;
}

.video-container {
    width: 100%;
}

.video-container video {
    width: 100%;
}

.text-center {
    text-align: center;
}

.bg-yellow {
    background-color: yellow;
}

@media screen and (max-width: 913px) {
    .pannel-3 .description {
        display: block;
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .mobile-image {
        display: block;
        border: 10px solid red;
        width: 80%;
    }
    .desktop-image {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    /* screen <= 760px */
    .page-container {
        font-size: 20px;
        padding: 20px;
        background-color: yellowgreen;
    }
    .mobile-image {
        width: 100%;
        /*  */
    }
}

@media screen and (min-width: 600px) {
    /* screen >= 400px   */
    h1 {
        color: red;
    }
}

@media screen and (orientation: portrait) {
    .page-container {
        background-color: blue;
    }
}

@media screen and (orientation: landscape) {
    /* .orientation-message {
        display: block;
    } */
    .content {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
    h1 {
        color: maroon;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) {
    /** portrait opentation screen width 768px */
}

@media screen and (min-width: 600px) and (max-width: 700px),
(min-width: 1000px) {
    /** this will apply if (screen >= 600px and screen <= 700px) OR screen width >= 1000px */
}

@media screen and (orientation: portrait) {
    .video-container {
        transform: rotate(90deg) translate(40%, 0%);
    }
}