
<div class="text-red">

    <h1 id="e1">Hello</h1> 

    <h2>Hello</h2> 
    <h6>Hello</h6> 
    
    <p id="">Paragraph </p>
    
    <ul type="circle">
        <li>List item 1</li>
        <li>List item 2</li>
    </ul>
    
    <ol type="A" start="C" reversed>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
        <li>List item 2</li>
    </ol>
</div>

<span>Me</span>

<div> 
    You
</div>

<form >
    <label for="uname">Name</label>
    <input type="text" required id="uname" placeholder="Enter your name" maxlength="5">

    <input type="number" max="5" min="1">


    <input type="file">

    <input type="checkbox"name="c1" id="d1"><label for="d1">BCA </label>
    <input type="checkbox"name="c1" checked>BCS

    <hr>

    <input type="radio" name="r1" id="r1"><label for="r1">BCA </label>
    <input type="radio" name="r2"  id="r2"><label for="r2">BNCS </label>

    <button>REGISTER</button>

    <input type="reset" value="REG">
    <input type="submit" value="REG">

    <select name="">
        <option value="">Item 1</option>
        <option value="">Item 2</option>
        <option value="">Item 3</option>
    </select>

</form>

<p class="text-red" id="my-id" style="color: black;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>


<span class="bg-yellow span-box">I am a span1 </span>
<span>I am a span2</span>


<div class="d-block bg-yellow">
    lkjslk
</div>

<div class="d-block bg-red">
lsakdfj
</div>
